:root {
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --title-color: #212121;
  --bg-color: #ffffff;
  --dark-bg-color: #2f303a;
  --grid-item: 3;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: 2px solid red;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 14px;
  background-color: var(--bg-color);
  color: var(--main-text-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo {
  display: inline-block;
  margin-right: 94px;
  padding-top: 24px;
  padding-bottom: 26px;
}

.logo__span--accent {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

@media screen and (max-width: 767.98px) {
  .logo__span--accent {
    font-size: 24px;
    line-height: 1.16;
  }
}

.logo__span--black {
  padding-top: 24px;
  padding-bottom: 26px;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  color: #000;
}

.logo__span--white {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
}

@media screen and (max-width: 767.98px) {
  .logo__span--white {
    font-size: 24px;
    line-height: 1.16;
  }
}

.logo--footer {
  display: inline-block;
  margin-bottom: 20px;
}

.menu {
  display: flex;
}

@media screen and (max-width: 767.98px) {
  .menu {
    display: none;
  }
}

.menu__item--margin + .menu__item--margin {
  margin-left: 50px;
}

.menu__link {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 0;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link--current {
  position: relative;
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.menu__link--current::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-color);
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.7;
  }
}

.button-group {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-group__item {
  justify-content: center;
  padding: 6px 22px;
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  box-shadow: none;
  border: none;
  cursor: pointer;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-left: 8px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-group__item:focus, .button-group__item:hover, .button-group__item.current, .button-group__item:active {
  outline: none;
  border: none;
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-subscribe__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  color: var(--bg-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767.98px) {
  .form-subscribe__button {
    margin-right: auto;
    margin-left: auto;
  }
}

.social-list {
  display: inline-flex;
}

.social-list__item + .social-list__item {
  margin-left: 10px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  outline: none;
  background-color: #fff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  fill: var(--bg-color);
  background-color: var(--accent-color);
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__item:hover .social-list__icon,
.social-list__item:focus .social-list__icon {
  fill: var(--bg-color);
  background-color: var(--accent-color);
}

.social-list__icon--footer {
  width: 20px;
  height: 20px;
  fill: var(--bg-color);
}

.social-list__link--footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link--footer:hover, .social-list__link--footer:focus {
  outline: none;
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  z-index: 120;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.3);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  max-width: 528px;
  min-height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--bg-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 5px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  outline: none;
}

.modal__close-button:hover .modal__close-icon,
.modal__close-button:focus .modal__close-icon {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  width: 100%;
  padding: 40px;
}

.form__banner {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-color);
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
}

.form__input {
  padding: 0;
  padding-left: 30px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover, .form__input:focus {
  border: 1px solid var(--accent-color);
  outline-color: var(--accent-color);
}

.form__icon {
  position: absolute;
  left: 12px;
  top: 68%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  cursor: pointer;
  fill: var(--title-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover + .form__icon,
.form__input:focus + .form__icon {
  fill: var(--accent-color);
}

.form__textarea {
  display: flex;
  flex-direction: column;
}

.form__textarea-field {
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea-field:hover, .form__textarea-field:focus {
  border-color: var(--accent-color);
}

.form__textarea-field::placeholder {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__comment {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
}

.form__policy {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.form__policy-label {
  margin-left: 27px;
  line-height: 1.71;
}

.form__policy-input {
  position: absolute;
  clip: rect(0 0 0 0);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.form__policy-icon {
  position: absolute;
  top: 76%;
  left: 50px;
  width: 16px;
  height: 16px;
  background-color: inherit;
  border: 1px solid #000;
  border-radius: 4px;
}

.form__policy-input:checked + .form__policy-icon {
  background-image: url(../images/check.svg);
  background-size: contain;
  border: var(--accent-color);
  background-color: var(--accent-color);
}

.form__checkbox-link {
  line-height: 1.71;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.form__button-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--bg-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.mobile-menu-wrap {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 50px;
  padding-right: 40px;
  padding-bottom: 50px;
  padding-left: 40px;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: #fff;
  transition: left 250ms;
}

.mobile-menu-wrap.is-open {
  left: 0;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 380px) {
  .mobile-menu-wrap {
    padding: 50px 40px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu-wrap {
    display: none;
  }
}

.mobile-menu__item {
  margin-bottom: 35px;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-color);
}

.mobile-contacts {
  display: flex;
  flex-direction: column;
}

.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.mobile-contacts__link:hover, .mobile-contacts__link:focus {
  color: var(--accent-color);
}

.mobile-contacts__link--blue {
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-socials {
  display: inline-flex;
  align-items: center;
}

.mobile-socials__item:not(:last-child)::after {
  content: '';
  width: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  margin-right: 10px;
  margin-left: 10px;
}

.mobile-socials__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mob-menu-btn {
  position: relative;
  z-index: 110;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  fill: #212121;
}

.mob-menu-btn:hover,
.mob-menu-btn:focus {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .mob-menu-btn {
    display: none;
  }
}

.mob-menu-svg {
  width: 40px;
  height: 40px;
}

.mob-menu-close {
  display: none;
}

.is-open .mob-menu-close {
  display: block;
}

.is-open .mob-menu-icon {
  display: none;
}

.current {
  color: var(--accent-color);
}

.header {
  background-color: var(--bg-color);
  border-bottom: 1px solid #ececec;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .header {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    width: 1200px;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-contacts {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767.98px) {
  .header-contacts {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header-contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.header-contacts__link {
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__link:hover, .header-contacts__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1199.98px) {
  .header-contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    color: var(--main-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-contacts__link--margin {
    margin-left: 30px;
  }
  .header-contacts__link:hover, .header-contacts__link:focus {
    color: var(--accent-color);
  }
}

.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.slogan {
  display: block;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: var(--dark-bg-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 1200px) {
  .slogan {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
  }
}

.slogan__title {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .slogan__title {
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .slogan__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.slogan__button {
  display: inline-block;
  border-radius: 4px;
  min-width: 200px;
  padding: 10px 32px;
  font-family: inherit;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--bg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.slogan__button:focus, .slogan__button:hover {
  background-color: #1a86df;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.15);
}

.slogan__button:focus:active, .slogan__button:hover:active {
  top: 2em;
  left: 2em;
  background-color: #197ed1;
  box-shadow: 0px 4px 4 px rgba(0, 0, 0, 0.15) inset;
}

@media screen and (min-width: 768px) {
  .privilege-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .privilege-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.privilege-list__item {
  flex-basis: 100%;
  display: inline-block;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  height: 226px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .privilege-list__item {
    flex-basis: calc((100% - 30px * 2) / 2);
    margin-left: 30px;
    max-width: 354px;
    height: 251px;
  }
}

@media screen and (min-width: 1200px) {
  .privilege-list__item {
    flex-basis: calc((100% - 30px * 4) / 4);
    margin-left: 30px;
    max-width: 270px;
    height: 251px;
  }
}

.privilege-list__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.privilege-list__subtitle {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
}

.privilege-list__text {
  line-height: 1.71;
}

.working {
  display: none;
}

@media screen and (min-width: 1200px) {
  .working {
    display: block;
  }
}

.working__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.working__item {
  margin-left: 30px;
  flex-basis: calc((100% - 30px * 3) / 3);
}

.working-overlay {
  position: relative;
}

.working-overlay__box {
  position: absolute;
  top: 224px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.working-overlay__text {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--bg-color);
}

.team-section {
  background-color: #f5f4fa;
  text-align: center;
  margin-bottom: 50px;
}

.team-section__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -30px;
  margin-top: -30px;
}

@media screen and (min-width: 768px) {
  .team-section__list {
    margin-left: -30px;
  }
}

.team-section__item {
  overflow: hidden;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 30px * 1) / 1);
  max-width: 450px;
  background-color: grey;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team-section__item {
    flex-basis: calc((100% - 30px * 2) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team-section__item {
    flex-basis: calc((100% - 30px * 4) / 4);
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .team-section__list {
    justify-content: center;
  }
}

.team-description {
  padding: 30px 15px;
  background-color: var(--bg-color);
}

.team-description__name {
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--title-color);
}

.team-description__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  color: var(--main-text-color);
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.clients-list__item {
  display: flex;
  flex-basis: calc((100% - 2 * 30px) / 2);
  margin-left: 30px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    flex-basis: calc((100% - 6 * 30px) / 6);
  }
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
}

.clients-list__link:hover .clients-list__icon,
.clients-list__link:focus .clients-list__icon {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover, .clients-list__link:focus {
  border: 1px solid var(--accent-color);
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-cards__item {
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio-cards__item:hover, .portfolio-cards__item:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card__thumb {
  position: relative;
  overflow: hidden;
  outline: none;
}

.project-overlay {
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cards__link:hover .project-overlay,
.portfolio-cards__link:focus .project-overlay {
  transform: translateY(0%);
  background-color: rgba(33, 150, 243, 0.9);
}

.project-overlay__text {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}

.card-div {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.card-div__name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}

.card-div__text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--main-text-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-color);
}

@media screen and (max-width: 767.98px) {
  .main-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 767.98px) {
  .wrapper-address {
    margin-bottom: 60px;
    text-align: center;
  }
}

.wrapper-address__contacts {
  display: inline-block;
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
}

@media screen and (max-width: 767.98px) {
  .wrapper-address__contacts {
    display: inline-block;
    font-style: normal;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 8px;
  }
  .wrapper-address__contacts--white {
    color: #ffffff;
  }
}

.wrapper-address__contacts--white {
  color: #ffffff;
}

.wrapper-join {
  margin-left: 70px;
}

@media screen and (max-width: 767.98px) {
  .wrapper-join {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
  }
}

.wrapper-join__title {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.42;
  text-transform: uppercase;
  color: var(--bg-color);
}

.wrapper-subscribe {
  margin: 0;
}

.form-subscribe {
  position: relative;
}

.form-subscribe__text {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--bg-color);
}

@media screen and (max-width: 767.98px) {
  .form-subscribe__text {
    text-align: center;
  }
}

.form-div {
  display: flex;
}

@media screen and (max-width: 767.98px) {
  .form-div {
    display: block;
  }
}

.form-subscribe__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 767.98px) {
  .form-subscribe__input {
    width: 450px;
  }
}

.form-subscribe__icon {
  position: absolute;
  bottom: 0;
  right: 145px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--bg-color);
}
/*# sourceMappingURL=styles.css.map */