.logo {
  display: inline-block;
  margin-right: 94px;
  padding-top: 24px;
  padding-bottom: 26px;
}

.logo__span--accent {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo__span--black {
  padding-top: 24px;
  padding-bottom: 26px;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  color: #000;
}

.logo__span--white {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
}
.logo--footer {
  display: inline-block;
  margin-bottom: 20px;
}
