.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-color);
}
.main-footer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.wrapper-address__contacts {
  display: inline-block;
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;

  &--white {
    color: #ffffff;
  }
}

.wrapper-join {
  margin-left: 70px;
}
.wrapper-join__title {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.42;
  text-transform: uppercase;

  color: var(--bg-color);
}
.wrapper-subscribe {
  margin: 0;
}

.form-subscribe {
  position: relative;
}

.form-subscribe__text {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--bg-color);
}

.form-div {
  display: flex;
}

.form-subscribe__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  color: rgba(255, 255, 255, 0.6);
}

.form-subscribe__icon {
  position: absolute;
  bottom: 0;
  right: 20px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--bg-color);
}
